@import "./fonts/fonts";


// Global Styles 
  $blue-grey: #7f87ab;
  $cool-grey: #b5b8c6;
  $tangerine: #ff9000;
  $electric-blue: #0052ff;
  $bright-teal: #00ffd0;
  $red: #ff0000;
  $white: #ffffff;
  $dark: #181d33;


* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(266deg, #2d3657, #14192c);
}

// Header Wrapper
.topBox {
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}

.topBox .logo img {
  margin-bottom: 10px;
}

//Nav List Position & Styling
.nav-box {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-box .nav-list {
  display: flex;
  width: 60%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 11px;
}

.nav-box .nav-list li {
  color: $white;
  font-size: 15px;
  line-height: 1.33;
}

.nav-box .nav-list li:hover {
  cursor: pointer;
  color: $cool-grey;
}

//User Icon Position & Styling
.nav-box .user-icon img:hover {
  cursor: pointer;
}

// Main Body Place Holder
.coolStuffGoesHere {
  height: 90vh;
  display:flex;
  justify-content: center;
  align-items: center;
}


// Footer Section
.bottomBox {
  height: 420px;
  background-color: $dark;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
}

.bottomBox hr {
  grid-column: 1 / -1;
  grid-row: 10 / 11;
  width: 100%;
  height: 1px;
  color: $white;
  opacity: .05;
}

// Left Side Footer
.bottomBox .leftSide {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  width: 50vw;
  background-image: linear-gradient(120deg, #16142c, $electric-blue 50%, $bright-teal);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

// Left Footer Content Wrapper Position
.bottomBox .leftSide .wrapperLeft {
  grid-column: 4 / -7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 35px;
}

.bottomBox .leftSide .wrapperLeft .topLeft {
  height: 55%;
}

// Left Footer List Styling
.bottomBox .leftSide .wrapperLeft .topLeft ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 30px;
  // Left Alignmnet with Asset Engine Icon
  padding-left: 57px;
}

.bottomBox .leftSide .wrapperLeft .topLeft li {
  color: $white;
  margin-top: 5px;
  opacity: 0.7;
  line-height: 1.5;
}

// Left List Hover State
.bottomBox .leftSide .wrapperLeft .topLeft li:hover {
  cursor: pointer;
  color: $cool-grey;
}

// Left Social Media Icons Position and Styling
.bottomBox .leftSide .wrapperLeft .icon-group {
  display: flex;
  width: 100%;
  margin-left: 25px;
}

.bottomBox .leftSide .wrapperLeft .icon-group .social-icon {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  transition: .2s
}

.bottomBox .leftSide .wrapperLeft .icon-group .social-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

// Right Side Footer
.bottomBox .rightSide {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: flex;
  justify-content: flex-start;
}

// Right Footer Content Wrapper Positon
.bottomBox .rightSide .wrapperRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91%;
  width: 40vw;
  margin-left: 60px;
  padding-top: 50px;
}

.bottomBox .rightSide .wrapperRight .topRight {
  height: 100%;
}

.bottomBox .rightSide .wrapperRight .topRight h2 {
  color: $white;
  font-size: 25px;
  letter-spacing: -0.42px;
  
}

// Right Footer List Styling
.bottomBox .rightSide .wrapperRight .topRight ul {
  height: 50%;
  width: 80%;
  margin-top: 30px;
  margin-left: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.bottomBox .rightSide .wrapperRight .topRight li {
  color: $blue-grey;
  font-size: 15px;
  line-height: 1.33;

  // Bullet Prep
  display: inline-block;
  list-style: none; 
  margin: 0 0 16px 1.1225em;

  /* Give the bullet room on the left hand side */
  padding: 0;
  position: relative;
}

// Bullet Creation / Stying
.bottomBox .rightSide .wrapperRight .topRight ul li::before {
  color: #00ff11;  
  /* color of bullet or square */

  content: "\2022"; 
  /* Unicode of character to precede the list item */

  display: inline-block;
  font-size: 2.75em; 
  /* use em or % */
 
  left: -.7525em; 
  /* use em, line up bullet flush with left hand side */

  position: absolute;
  /* Set the bullet positioned absolutely top left */

  top: -.42em; 
  /* use em or % */
}

// Orange Bullet
.bottomBox .rightSide .wrapperRight .topRight ul .orange::before {
  color: #ffcf00;  
}

.bottomBox .rightSide .wrapperRight .copyright {
  color: $white;
}

// Copyright
.rightside .wrapperRight .copyright {
  font-size: 15px;
  line-height: 1.33;
}



