.light {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.regular {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.allBlack {
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.bg-white {
  background: #ffffff;
  color: #181d33;
}

.bg-dark {
  background-image: linear-gradient(266deg, #2d3657, #14192c);
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: linear-gradient(266deg, #2d3657, #14192c);
}

#body .mobile-nav {
  display: none;
}

.headerBox {
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px;
}

.headerBox .logo img {
  margin-bottom: 10px;
}

.nav-box {
  width: 50vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-box .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin-top: 11px;
}

.nav-box .nav-list li {
  font-size: 15px;
  line-height: 1.33;
}

.nav-box .nav-list li:hover {
  cursor: pointer;
  color: #b5b8c6;
}

.nav-box .user-icon img:hover {
  cursor: pointer;
}

.coolStuffGoesHere {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerBox {
  height: 420px;
  background-color: #181d33;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
}

.footerBox hr {
  grid-column: 1 / -1;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / 11;
  width: 100%;
  height: 1px;
  color: #ffffff;
  opacity: 0.05;
}

.footerBox .leftSide {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  width: 50vw;
  background-image: linear-gradient(120deg, #16142c, #0052ff 50%, #00ffd0);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.footerBox .leftSide .wrapperLeft {
  grid-column: 4 / -7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 35px;
}

.footerBox .leftSide .wrapperLeft .topLeft {
  height: 55%;
}

.footerBox .leftSide .wrapperLeft .topLeft ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  padding-left: 57px;
}

.footerBox .leftSide .wrapperLeft .topLeft li {
  color: #ffffff;
  margin-top: 5px;
  opacity: 0.7;
  line-height: 1.5;
}

.footerBox .leftSide .wrapperLeft .topLeft li:hover {
  cursor: pointer;
  color: #b5b8c6;
}

.footerBox .leftSide .wrapperLeft .icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 25px;
}

.footerBox .leftSide .wrapperLeft .icon-group .social-icon {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footerBox .leftSide .wrapperLeft .icon-group .social-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footerBox .rightSide {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footerBox .rightSide .wrapperRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 91%;
  width: 40vw;
  margin-left: 60px;
  padding-top: 50px;
}

.footerBox .rightSide .wrapperRight .topRight {
  height: 100%;
}

.footerBox .rightSide .wrapperRight .topRight h2 {
  color: #ffffff;
  font-size: 25px;
  letter-spacing: -0.42px;
}

.footerBox .rightSide .wrapperRight .topRight ul {
  height: 50%;
  width: 80%;
  margin-top: 30px;
  margin-left: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerBox .rightSide .wrapperRight .topRight li {
  color: #7f87ab;
  font-size: 15px;
  line-height: 1.33;
  display: inline-block;
  list-style: none;
  margin: 0 0 16px 1.1225em;
  /* Give the bullet room on the left hand side */
  padding: 0;
  position: relative;
}

.footerBox .rightSide .wrapperRight .topRight ul li::before {
  color: #00ff11;
  /* color of bullet or square */
  content: "\2022";
  /* Unicode of character to precede the list item */
  display: inline-block;
  font-size: 2.75em;
  /* use em or % */
  left: -0.7525em;
  /* use em, line up bullet flush with left hand side */
  position: absolute;
  /* Set the bullet positioned absolutely top left */
  top: -0.42em;
  /* use em or % */
}

.footerBox .rightSide .wrapperRight .topRight ul .orange::before {
  color: #ffcf00;
}

.footerBox .rightSide .wrapperRight .copyright {
  color: #ffffff;
}

.rightside .wrapperRight .copyright {
  font-size: 15px;
  line-height: 1.33;
}

@media screen and (max-width: 600px) {
  #body .nav-box {
    display: none;
  }
  #body .mobile-nav {
    display: unset;
  }
  /* Header / Navigation */
  .headerBox {
    padding: 0 15px;
  }
  .headerBox .logo img {
    width: 183px;
  }
  .right-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    width: 100px;
    margin-right: 5px;
  }
  .user-icon img {
    width: 35px;
    height: 35px;
  }
  /* Hamburger Menu */
  .menu-wrap {
    margin: 5px;
    width: 30px;
    height: 30px;
    display: relative;
  }
  .menu-wrap .toggler {
    position: absolute;
    width: 28px;
    height: 28px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  .menu-wrap .hamburger {
    width: 30px;
    height: 30px;
    padding: 0.25rem;
    background: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*Hamburger Lines */
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    top: -7px;
    width: 100%;
    height: 2px;
    background: white;
  }
  .menu-wrap .hamburger > div::after {
    top: 7px;
  }
  /* Toggle Hamburger Lines Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    position: relative;
    z-index: 2;
    background: white;
    opacity: 0.7;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
    background: #ffffff;
  }
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
    z-index: 1;
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-duration: 0.75s;
            transition-duration: 0.75s;
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  /* Menu Overlay */
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -1;
  }
  .menu-wrap .menu > div {
    background: #181d33;
    width: 300vw;
    height: 300vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .menu-wrap .menu > div > div {
    padding: 50px;
    border-radius: 5px;
    background: #181d33;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  .menu-wrap .menu > div > div > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding: 15px;
  }
  .menu-wrap .menu > div > div > ul > li:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .menu-wrap .menu > div > div > ul > li > a {
    font-size: 1.25em;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
  }
  .footerBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .footerBox .leftSide {
    height: 45%;
    width: 100%;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .footerBox .leftSide .wrapperLeft {
    padding: 0;
    margin: 0;
  }
  .footerBox .leftSide .wrapperLeft .topLeft {
    height: 80%;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footerBox .leftSide .wrapperLeft .topLeft img {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .footerBox .leftSide .wrapperLeft .topLeft ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 80vw;
    height: 15%;
    padding: 0px;
    margin: 0;
  }
  .footerBox .leftSide .wrapperLeft .topLeft ul li {
    font-size: 15px;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 300;
  }
  .footerBox .leftSide .wrapperLeft .icon-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 80vw;
    height: 20%;
    margin-left: 0;
  }
  .footerBox .leftSide .wrapperLeft .icon-group .social-icon {
    width: 20px;
    height: 20px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin-left: 0;
    margin-right: 20px;
  }
  .footerBox .rightSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .footerBox .rightSide .topRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footerBox .rightSide .wrapperRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80vw;
    height: 100%;
    margin-left: 35px;
    padding-top: 30px;
  }
  .footerBox .rightSide .wrapperRight .topRight {
    height: 100%;
    width: 80vw;
  }
  .footerBox .rightSide .wrapperRight .topRight h2 {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: -0.42px;
    width: 100%;
  }
  .footerBox .rightSide .wrapperRight .topRight ul {
    height: 100%;
    width: 80%;
    margin-top: 30px;
    margin-left: 14px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerBox .rightSide .wrapperRight .topRight li {
    color: #7f87ab;
    font-size: 15px;
    line-height: 1.33;
    display: inline-block;
    list-style: none;
    margin: 0 0 16px 1.1225em;
    /* Give the bullet room on the left hand side */
    padding: 0;
    position: relative;
  }
  .order1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .order2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .order3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .order7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .order4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .order8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .footerBox .rightSide .wrapperRight .topRight ul li::before {
    color: #00ff11;
    /* color of bullet or square */
    content: "\2022";
    /* Unicode of character to precede the list item */
    display: inline-block;
    font-size: 2.75em;
    /* use em or % */
    left: -0.7525em;
    /* use em, line up bullet flush with left hand side */
    position: absolute;
    /* Set the bullet positioned absolutely top left */
    top: -0.46em;
    /* use em or % */
  }
  .footerBox .rightSide .wrapperRight .topRight ul .orange::before {
    color: #ffcf00;
  }
  .footerBox .rightSide .wrapperRight .copyright {
    color: #ffffff;
    margin-top: 7px;
  }
}
/*# sourceMappingURL=style.css.map */