// Global Styles 
:root {
  --blue-grey: #7f87ab;
  --cool-grey: #b5b8c6;
  --tangerine: #ff9000;
  --electric-blue: #0052ff;
  --bright-teal: #00ffd0;
  --red: #ff0000;
  --white: #ffffff;
  --dark: #181d33;
}


* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

// Header Wrapper
.topBox {
  height: 94px;
  background-image: linear-gradient(266deg, #2d3657, #14192c);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}

//Nav List Position & Styling
.nav-box {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-box .nav-list {
  display: flex;
  width: 70%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-box .nav-list li {
  color: var(--white);
}

.nav-box .nav-list li:hover {
  cursor: pointer;
  color: var(--cool-grey);
}

//User Icon Position & Styling
.nav-box .user-icon img {
  font-size: 2rem;
}

// Main Body Place Holder
.coolStuffGoesHere {
  height: 90vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1f2d65, rgba(60, 100, 255, 0));
}

.bottomBox {
  height: 40vh;
  background-color: var(--dark);
  display: flex;
}

.bottomBox .leftSide {
  width: 50vw;
  background-image: linear-gradient(120deg, #16142c, var(--electric-blue) 50%, var(--bright-teal));
  display: flex;
  justify-content: center;
}

.bottomBox .leftSide .wrapperLeft {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 30%;
  padding: 35px;
}

.bottomBox .leftSide .wrapperLeft .topLeft ul {
  list-style: none;
}

.bottomBox .rightSide {
  display: flex;
  justify-content: flex-start;
}

.bottomBox .rightSide .wrapperRight {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 40vw;
  padding: 35px;
  margin-left: 60px;
}

.bottomBox .rightSide .wrapperRight .topRight ul {
  list-style: none;
}