:root {
  --blue-grey: #7f87ab;
  --cool-grey: #b5b8c6;
  --tangerine: #ff9000;
  --electric-blue: #0052ff;
  --bright-teal: #00ffd0;
  --red: #ff0000;
  --white: #ffffff;
  --dark: #181d33;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topBox {
  height: 94px;
  background-image: linear-gradient(266deg, #2d3657, #14192c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px;
}

.nav-box {
  width: 50vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-box .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.nav-box .nav-list li {
  color: var(--white);
}

.nav-box .nav-list li:hover {
  cursor: pointer;
  color: var(--cool-grey);
}

.nav-box .user-icon img {
  font-size: 2rem;
}

.coolStuffGoesHere {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#1f2d65), to(rgba(60, 100, 255, 0)));
  background-image: linear-gradient(to right, #1f2d65, rgba(60, 100, 255, 0));
}

.bottomBox {
  height: 40vh;
  background-color: var(--dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottomBox .leftSide {
  width: 50vw;
  background-image: linear-gradient(120deg, #16142c, var(--electric-blue) 50%, var(--bright-teal));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottomBox .leftSide .wrapperLeft {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 30%;
  padding: 35px;
}

.bottomBox .leftSide .wrapperLeft .topLeft ul {
  list-style: none;
}

.bottomBox .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bottomBox .rightSide .wrapperRight {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 40vw;
  padding: 35px;
  margin-left: 60px;
}

.bottomBox .rightSide .wrapperRight .topRight ul {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */