@import "./fonts/fonts";
@import "./config/config";
@import "./utilities/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(266deg, #2d3657, #14192c);
}

// Header Wrapper
// Hide Mobile Nav
#body .mobile-nav {
  display: none;
}

.headerBox {
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 45px 0;
}

.headerBox .logo img {
  margin-bottom: 10px;
}

//Nav List Position & Styling
.nav-box {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-box .nav-list {
  display: flex;
  width: 60%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 15px;
}

.nav-box .nav-list li {
  font-size: 15px;
  line-height: 1.33;
}

.nav-box .nav-list li:hover {
  cursor: pointer;
  color: $cool-grey;
}

//User Icon Position & Styling
.nav-box .user-icon img {
  margin-top: 10px;
}

.nav-box .user-icon img:hover {
  cursor: pointer;
}

// Main Body Place Holder
.contentGoesHere {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Footer Section
.footerBox {
  height: 420px;
  background-color: $dark;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
}

.footerBox hr {
  grid-column: 1 / -1;
  grid-row: 10 / 11;
  width: 100%;
  height: 1px;
  color: $white;
  opacity: 0.05;
}

// Left Side Footer
.footerBox .leftSide {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  width: 50vw;
  background-image: linear-gradient(
    120deg,
    #16142c,
    $electric-blue 50%,
    $bright-teal
  );
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

// Left Footer Content Wrapper Position
.footerBox .leftSide .wrapperLeft {
  grid-column: 4 / -7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 35px;
}

.footerBox .leftSide .wrapperLeft .topLeft {
  height: 55%;
}

// Left Footer List Styling
.footerBox .leftSide .wrapperLeft .topLeft ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 30px;
  // Left Alignmnet with Asset Engine Icon
  padding-left: 57px;
}

.footerBox .leftSide .wrapperLeft .topLeft li {
  color: $white;
  margin-top: 5px;
  opacity: 0.7;
  line-height: 1.5;
}

// Left List Hover State
.footerBox .leftSide .wrapperLeft .topLeft li:hover {
  cursor: pointer;
  color: $cool-grey;
}

// Left Social Media Icons Position and Styling
.footerBox .leftSide .wrapperLeft .icon-group {
  display: flex;
  width: 100%;
  margin-left: 25px;
}

.footerBox .leftSide .wrapperLeft .icon-group .social-icon {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  transition: 0.2s;
}

.footerBox .leftSide .wrapperLeft .icon-group .social-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

// Right Side Footer
.footerBox .rightSide {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: flex;
  justify-content: flex-start;
}

// Right Footer Content Wrapper Positon
.footerBox .rightSide .wrapperRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91%;
  width: 40vw;
  margin-left: 60px;
  padding-top: 51px;
}

.footerBox .rightSide .wrapperRight .topRight {
  height: 100%;
}

.footerBox .rightSide .wrapperRight .topRight h2 {
  color: $white;
  font-size: 25px;
  letter-spacing: -0.42px;
}

// Right Footer List Styling
.footerBox .rightSide .wrapperRight .topRight ul {
  height: 50%;
  width: 80%;
  margin-top: 30px;
  margin-left: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footerBox .rightSide .wrapperRight .topRight li {
  color: $blue-grey;
  font-size: 15px;
  line-height: 1.33;

  // Bullet Prep
  display: inline-block;
  list-style: none;
  margin: 0 0 16px 1.1225em;

  /* Give the bullet room on the left hand side */
  padding: 0;
  position: relative;
}

// Bullet Creation / Stying
.footerBox .rightSide .wrapperRight .topRight ul li::before {
  color: #00ff11;
  /* color of bullet or square */

  content: "\2022";
  /* Unicode of character to precede the list item */

  display: inline-block;
  font-size: 2.75em;
  /* use em or % */

  left: -0.7525em;
  /* use em, line up bullet flush with left hand side */

  position: absolute;
  /* Set the bullet positioned absolutely top left */

  top: -0.44em;
  /* use em or % */
}

// Orange Bullet
.footerBox .rightSide .wrapperRight .topRight ul .orange::before {
  color: #ffcf00;
}

.footerBox .rightSide .wrapperRight .copyright {
  color: $white;
}

// Copyright
.rightside .wrapperRight .copyright {
  font-size: 15px;
  line-height: 1.33;
}

// Mobile Media Query
@media screen and (max-width: 600px) {
  // Switch to Mobile Nav

  #body .nav-box {
    display: none;
  }

  #body .mobile-nav {
    display: unset;
  }

  // Mobile and Tablet Navigation
  /* Header / Navigation */

  .headerBox {
    padding: 0 10px 0px 20px;
  }

  .headerBox .logo img {
    width: 183px;
  }

  .right-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100px;
    margin-left: 5px;
  }

  .user-icon img {
    width: 35px;
    height: 35px;
    margin-left: 5px;
  }

  /* Hamburger Menu */
  .menu-wrap {
    margin: 5px;
    width: 30px;
    height: 30px;
    display: relative;
  }

  .menu-wrap .toggler {
    position: absolute;
    width: 28px;
    height: 28px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .menu-wrap .hamburger {
    width: 30px;
    height: 30px;
    padding: 0.25rem;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Hamburger Lines */
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.3s;
  }

  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    top: -7px;
    width: 100%;
    height: 2px;
    background: white;
  }

  .menu-wrap .hamburger > div::after {
    top: 7px;
  }

  /* Toggle Hamburger Lines Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    position: relative;
    z-index: 2;
    background: white;
    opacity: 0.7;
    transition: 0.5s;
  }

  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    transform: rotate(90deg);
    top: 0;
    background: $white;
  }

  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
    z-index: 1;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0s;
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    // Opacity transition from Main site to Hamburger Menu
    transition: opacity 0.75s ease;
  }

  /* Menu Overlay */
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }

  .menu-wrap .menu > div {
    background: $dark;
    width: 300vw;
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
  }

  .menu-wrap .menu > div > div {
    padding: 50px;
    border-radius: 5px;
    background: $dark;
    opacity: 0;
    // Opacity transition from Hamburger Menu to Main Site
    transition: opacity 0.25s ease;
  }

  .menu-wrap .menu > div > div > ul {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    text-decoration: none;
    transition: all 0.2s;
    padding: 15px;
  }

  .menu-wrap .menu > div > div > ul > li:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .menu-wrap .menu > div > div > ul > li > a {
    font-size: 1.25em;
    font-weight: 300;
    text-decoration: none;
    color: $white;
    opacity: 0.7;
  }

  // Footer Layout - Left
  .footerBox {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .footerBox .leftSide {
    height: 45%;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .footerBox .leftSide .wrapperLeft {
    padding: 0;
    margin: 0;
  }

  .footerBox .leftSide .wrapperLeft .topLeft {
    height: 80%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  // Top Footer Icon Position Fine Tune
  .footerBox .leftSide .wrapperLeft .topLeft img {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  // Top Footer Links Positioning
  .footerBox .leftSide .wrapperLeft .topLeft ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: flex-end;
    width: 80vw;
    height: 15%;
    padding: 0px;
    margin: 0;
  }

  .footerBox .leftSide .wrapperLeft .topLeft ul li {
    font-size: 15px;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 300;
  }

  // Top Footer Social Media Icons Position and Styling

  .footerBox .leftSide .wrapperLeft .icon-group {
    display: flex;
    align-self: center;
    width: 80vw;
    height: 20%;
    margin-left: 0;
  }

  .footerBox .leftSide .wrapperLeft .icon-group .social-icon {
    width: 20px;
    height: 20px;
    transition: 0.2s;
    margin-left: 0;
    margin-right: 20px;
  }

  // Footer Layout Right
  // Right Side Footer
  .footerBox .rightSide {
    display: flex;
    width: 80vw;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .footerBox .rightSide .topRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // Right Footer Content Wrapper Positon
  .footerBox .rightSide .wrapperRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
    margin-left: 35px;
    padding-top: 30px;
  }

  .footerBox .rightSide .wrapperRight .topRight {
    height: 100%;
    width: 80vw;
  }

  .footerBox .rightSide .wrapperRight .topRight h2 {
    color: $white;
    font-size: 25px;
    letter-spacing: -0.42px;
    width: 100%;
  }

  // Right Footer List Styling
  .footerBox .rightSide .wrapperRight .topRight ul {
    height: 100%;
    width: 80%;
    margin-top: 30px;
    margin-left: 14px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .footerBox .rightSide .wrapperRight .topRight li {
    color: $blue-grey;
    font-size: 15px;
    line-height: 1.33;

    // Bullet Prep
    display: inline-block;
    list-style: none;
    margin: 0 0 16px 1.1225em;

    /* Give the bullet room on the left hand side */
    padding: 0;
    position: relative;
  }

  // List Item Order for Mobile with Flex Order
  .order1 {
    order: 1;
  }

  .order5 {
    order: 5;
  }

  .order2 {
    order: 2;
  }

  .order6 {
    order: 6;
  }

  .order3 {
    order: 3;
  }

  .order7 {
    order: 7;
  }

  .order4 {
    order: 4;
  }

  .order8 {
    order: 8;
  }

  // Bullet Creation / Stying
  .footerBox .rightSide .wrapperRight .topRight ul li::before {
    color: #00ff11;
    /* color of bullet or square */

    content: "\2022";
    /* Unicode of character to precede the list item */

    display: inline-block;
    font-size: 2.75em;
    /* use em or % */

    left: -0.7525em;
    /* use em, line up bullet flush with left hand side */

    position: absolute;
    /* Set the bullet positioned absolutely top left */

    top: -0.46em;
    /* use em or % */
  }

  // Orange Bullet
  .footerBox .rightSide .wrapperRight .topRight ul .orange::before {
    color: #ffcf00;
  }

  .footerBox .rightSide .wrapperRight .copyright {
    color: $white;
    margin-top: 7px;
  }
}

// Tablet Media Query
@media screen and (min-width: 601px) and (max-width: 1024px) {
  #body .nav-box {
    display: none;
  }

  #body .mobile-nav {
    display: unset;
  }

  /* Header / Navigation */
  .headerBox {
    padding: 20px 25px 0px 30px;
  }

  .headerBox .logo img {
    width: 183px;
  }

  .right-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
    width: 100px;
    margin-left: 5px;
  }

  .user-icon img {
    width: 35px;
    height: 35px;
  }

  /* Hamburger Menu */
  .menu-wrap {
    margin: 5px;
    width: 30px;
    height: 30px;
    display: relative;
  }

  .menu-wrap .toggler {
    position: absolute;
    width: 28px;
    height: 28px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .menu-wrap .hamburger {
    width: 30px;
    height: 30px;
    padding: 0.25rem;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Hamburger Lines */
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.3s;
  }

  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    top: -7px;
    width: 100%;
    height: 2px;
    background: white;
  }

  .menu-wrap .hamburger > div::after {
    top: 7px;
  }

  /* Toggle Hamburger Lines Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    position: relative;
    z-index: 2;
    background: white;
    opacity: 0.7;
    transition: 0.5s;
  }

  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    transform: rotate(90deg);
    top: 0;
    background: $white;
  }

  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
    z-index: 1;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0s;
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    // Opacity transition from Main site to Hamburger Menu
    transition: opacity 0.75s ease;
  }

  /* Menu Overlay */
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }

  .menu-wrap .menu > div {
    background: $dark;
    width: 300vw;
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
  }

  .menu-wrap .menu > div > div {
    padding: 50px;
    border-radius: 5px;
    background: $dark;
    opacity: 0;
    // Opacity transition from Hamburger Menu to Main Site
    transition: opacity 0.25s ease;
  }

  .menu-wrap .menu > div > div > ul {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    text-decoration: none;
    transition: all 0.2s;
    padding: 15px;
  }

  .menu-wrap .menu > div > div > ul > li:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .menu-wrap .menu > div > div > ul > li > a {
    font-size: 1.25em;
    font-weight: 300;
    text-decoration: none;
    color: $white;
    opacity: 0.7;
  }

  // Tablet Size Footer Right - Adjusting list item positions
  // Right Side Footer
  .footerBox .rightSide {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    display: flex;
    justify-content: flex-start;
  }

  // Right Footer Content Wrapper Positon
  .footerBox .rightSide .wrapperRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91%;
    width: 40vw;
    margin-left: 60px;
    padding-top: 51px;
  }

  .footerBox .rightSide .wrapperRight .topRight {
    height: 100%;
  }

  .footerBox .rightSide .wrapperRight .topRight h2 {
    color: $white;
    font-size: 25px;
    letter-spacing: -0.42px;
  }

  // Right Footer List Styling
  .footerBox .rightSide .wrapperRight .topRight ul {
    height: 50%;
    width: 80%;
    margin-top: 30px;
    margin-left: px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    align-items: center;
  }

  .footerBox .rightSide .wrapperRight .topRight li {
    color: $blue-grey;
    font-size: 15px;
    line-height: 1.33;

    // Bullet Prep
    display: inline-block;
    list-style: none;
    margin: 0 0 16px 1.1225em;

    /* Give the bullet room on the left hand side */
    padding: 0;
    position: relative;
  }

  // Bullet Creation / Stying
  .footerBox .rightSide .wrapperRight .topRight ul li::before {
    color: #00ff11;
    /* color of bullet or square */

    content: "\2022";
    /* Unicode of character to precede the list item */

    display: inline-block;
    font-size: 2.75em;
    /* use em or % */

    left: -0.7525em;
    /* use em, line up bullet flush with left hand side */

    position: absolute;
    /* Set the bullet positioned absolutely top left */

    top: -0.46em;
    /* use em or % */
  }

  // Orange Bullet
  .footerBox .rightSide .wrapperRight .topRight ul .orange::before {
    color: #ffcf00;
  }

  .footerBox .rightSide .wrapperRight .copyright {
    color: $white;
  }
}
